/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

.views-slideshow-controls-bottom {
  text-align: center;
  background-color: #EEEDE8;
  border-radius: 8px 8px 8px 8px;
}

.views_slideshow_controls a {
  padding: 0 10px;
}

.views_slideshow_singleframe_pager div {
  padding-left: 0;
}

.pager-item a {
  padding: 0 10px;
}

.activeSlide {
  background-color: #ECD391;
}
